doctype=html
html
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')
    title Preview
  body
    .container.mt-4
      img.card-img-top(src = blob)
